# Ignore autosaves:
*.asv

# Ignore scratch test files and demos:
scratchfile.m
demos/

# Exclude the data folder .mat files by default:
+sonic/+data/*.mat


# Ignore .DS_Store:
.DS_Store

# Docs gitignores:
__pycache__/
_build/
_sources/
